{
  "extends": [
    "plugin:team-vals/recommended",
    "plugin:team-vals/prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "^firebase-admin/"
        ]
      }
    ]
  },
  "ignorePatterns": [
    "src/generates"
  ]
}